@model IEnumerable<Nullam.Models.UritusModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrituseNimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToimumisAeg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Koht)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisainfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrituseNimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToimumisAeg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koht)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisainfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
