@model IEnumerable<Nullam.Models.OsavotjadModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Eesnimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perenimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isikukood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lisainfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Eesnimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Perenimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isikukood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lisainfo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
